.chatlist-container {
  padding: 20px 20px;

  .chatlists-container {
    margin-top: 20px;
    border-top: 1px solid rgb(227, 227, 227);

    .notification-container {
      min-height: calc(100vh - 40px);
      display: flex;
      align-items: center;
      justify-content: center;
      color: rgb(75, 75, 75);
      font-size: 18px;
    }
  }
}

.chat-list:first-of-type {
  border-top: 1px solid rgb(227, 227, 227);
}

.chat-list {
  position: relative;
  height: 70px;
  border-bottom: 1px solid rgb(227, 227, 227);
  padding-left: 95px;
  padding-bottom: 15px;
  padding-top: 15px;

  .image-container {
    position: absolute;
    left: 0px;
  }

  .content {
    position: relative;
    padding-top: 15px;

    .name {
      font-size: 22px;
      max-width: 220px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    .paragraph {
      margin-top: 10px;
      padding-left: 1px;
      font-size: 15px;
      color: rgb(75, 75, 75);
    }
  }
}

img {
  border-radius: 50%;
  height: 70px;
  width: 70px;
  object-fit: cover;
}
