html {
  height: 100vh;
}

body {
  position: relative;
  margin: 0;
}

.chat-container {
  position: relative;
}

.chats {
  overflow-y: scroll;
  min-height: calc(100vh - 142px);
  max-height: calc(100vh - 142px);
  padding-top: 20px;
  padding-bottom: 70px;

  .date {
    text-align: center;
  }
}

.chat-block {
  position: relative;
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  + .chat-block {
    margin-top: 20px;
  }

  .text {
    display: block;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;
  }

  &.left {
    .date {
      position: absolute;
      bottom: 0;
      right: -125px;
    }
  }

  &.right {
    .date {
      position: absolute;
      bottom: 0;
      left: -125px;
    }
  }
}

.left {
  margin-right: 45%;
  margin-left: 10px;
}

.right {
  margin-left: 45%;
  margin-right: 10px;
  text-align: right;
}

.input {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.button01-container {
  background-color: red;
}
